@import url(content/header.css);
@import url(content/lateral-menu.css);
@import url(content/top-section.css);
@import url(content/videos.css);
@import url(content/footer.css);


*,
*::before,
*::after {
    --dark-blue: #154580;
    --medium-blue: #3970BE;
    --light-blue: #E5F1FF;
    --gray-text: #444444;
    --light-gray: #ECECEC;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: var(--light-blue);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    text-align: center;
}

@media(min-width: 834px) {

    body {
        height: 100vh;
    }
}