.header__container {
    align-items: center;
    background-color: white;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 25px;
    
    /* fixo no topo */
    position: fixed;
    top: 0;
    
    width: 100%;
}

.header__logo {
    background-image: url(../../img/header/Logo.png);
    background-repeat: no-repeat;
    padding: 15px 65px;
    cursor: pointer;
}

.header__search {
    display: none;
}

.search__input {
    width: 260px;
    height: 32px;
    border: 1px solid rgb(211, 211, 211);
    font-size: 16px;
    padding: 3px 8px;
    border: 1px solid rgb(211, 211, 211);
}

.search__label {
    background-image: url(../../img/header/search.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(211, 211, 211);
    background-color: #F9F9F9;
    border-left: none;
    padding: 8px 18px 5px;
    cursor: pointer;
}

.header__audio {
    background-image: url(../../img/header/mic.png);
    padding: 20px;
    display: none;
}

.header__videos {
    background-image: url(../../img/header/video_call.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.header__apps {
    background-image: url(../../img/header/apps.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.header__notification {
    background-image: url(../../img/header/notifications.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}

.header__avatar {
    background-image: url(../../img/header/Avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 13px 30px 13px 13px;
}


@media screen and (min-width: 834px) {
    
    .header__search {
        display: block;
    }
    
}